<div class="login-form">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ data.Poster }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ data.Title }}</h5>
      <p class="card-text"><strong>Plot:</strong> {{ data.Plot }}</p>
      <p class="card-text"><strong>Box Office:</strong> {{ data.BoxOffice }}</p>
      <p class="card-text"><strong>Released:</strong> {{ data.Released }}</p>
      <p class="card-text"><strong>Director:</strong> {{ data.Director }}</p>
      <p class="card-text"><strong>Starring:</strong> {{ data.Actors }}</p>
      <p class="card-text"><strong>Awards:</strong> {{ data.Awards }}</p>
      <p class="card-text"><strong>IMDb Rating:</strong> {{ data.imdbRating }}</p>
      <p class="card-text"><strong>Production:</strong> {{ data.Production }}</p>

    </div>
  </div>

</div>
