<h2 class="text-center">Travel Website</h2>
<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link" routerLink="flights" routerLinkActive="active">
            <span class="fa fa-user fa-icon-right-margin-small"></span> Flights
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="hotels" routerLinkActive="active">
            <span class="fa fa-users fa-icon-right-margin-small"></span> Hotels
        </a>
    </li>
</ul>
<router-outlet></router-outlet>
